#booking-app-main {
  min-width: 100vw;
  height: 100vh;
  display: flex;

    .booking-app-side-bar {
      width: 220px;
      height: 100%;

      #main-sidebar {
        display: flex;
        flex-direction: column;
        .main-sidebar-logo {
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ccc;

          img {
            height: 80px;
            width: 160px;
          }
        }
        .main-sidebar-items {
          display: flex;
          flex-direction: column;

          .main-sidebar-item {
            height: 52px;
            text-decoration: none;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
          }
          .main-sidebar-item.active {
            background-color: #af8080;
          }
        }
      }
    }
    
    .booking-app-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: calc(100% - 220px);

      .booking-app-content-header {
        height: 60px;
        width: 100%;
        background-color: #949494;
      }
      
      .booking-app-content-main {
        height: calc(100% - 60px);
        width: 100%;
        background-color: #bfa5a5;
        overflow-y: auto;
      }
    }
}
